@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Dancing+Script&family=Orbitron&family=Poppins:wght@100;300;500&family=Raleway:wght@100&family=Tilt+Prism&display=swap');

.icone {
    display: block;
}

.letra {
    display: none;
}

body {
    margin: 0;   
    padding: 0;
    min-height: 100vh;
    font-family: 'Orbitron', sans-serif;
    background-color: #fff;
}

header {
    background-color: #fff;
    padding: 1rem;
}

.menu {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 143px;
}

.icone {
    display: flex;
    align-items: center;
}

/*conteudo peincipal*/


.conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "fort fort "
        "pub slack"
        "conteudo__categorias conteudo__categorias"
        "cs wts"
    ;
}

.caixa {
    margin: 3px;
    background-color: #4582D9;
    height: 300px;
    width: 200px;
}

.icone {
    display: block;
}

.letra {
    display: none;
}


.conteudo .conteudo__principal:nth-child(1) {
    grid-area: fort;
    background-image: url(img/fortnite.jpg);
    background-size: cover;
    background-position: top;
    width: 405px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: end;
    margin: 2px;
}


.conteudo .pub:nth-child(2) {
    grid-area: pub;
    background-image: url(img/pubg.jpg);
    background-position: top;
    background-size: cover;
    width: 200px;
    height: 215px;
    display: flex;
    justify-content: center;
    align-items: end;
    margin: 2px;
}

.conteudo .slack:nth-child(3) {
    grid-area: slack;
    background-image: url(img/slack.png);
    background-size: cover;
    background-position: center;
    width: 198px;
    height: 215px;
    display: flex;
    justify-content: center;
    align-items: end;
    margin: 2px;
}

.conteudo .conteudo__categorias:nth-child(4) {
    grid-area: conteudo__categorias;
}

.conteudo .cs:nth-child(5) {
    grid-area: cs;
    background-image: url(img/cs-go.jpg);
    background-size: cover;
    width: 200px;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: end;
    margin: 2px;
}

.conteudo .wts:nth-child(6) {
    grid-area: wts;
    background-image: url(img/whatsapp.png);
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: end;
    margin: 2px;
}


/*parte de trás da escrita*/

.conteudo__titulo {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    margin: 0 0;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

/*segunda parte*/

.conteudo .conteudo__categorias:nth-child(4) {
    grid-area: conteudo__categorias;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "dois tres"
        " quatro cinco"
    ;
}

.button {
    margin-left: 10.8px;
    margin: 3px;
    margin-top: 10.20px;
    height: 15vh;
    width: 50vw;
    cursor: pointer;
    display: flex;
    justify-content: start;
    margin: 0;
}

a {
    text-decoration: none;
}



.grid_dois {
    grid-area: dois;
}

.grid_tres {
    grid-area: tres;
}

.grid_quatro {
    grid-area: quatro;
}

.grid_cinco {
    grid-area: cinco;
}